.slideshow {
    position: relative;
    width: 450px;
    height: 450px;
    right: 0px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.2s ease-in-out, transform 2s ease-in-out;
    text-align: center;
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
}

.slide.exit {
    opacity: 0;
    transform: translateX(-100%);
}

